---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import BaseHead from "@src/components/BaseHead.astro";
import Header from "@src/components/Header.astro";
import Footer from "@src/components/Footer.astro";
import FormattedDate from "@src/components/FormattedDate.astro";

export async function getStaticPaths() {
    const posts = (await getCollection('post')).filter((p) => !p.data.draft);
    return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}

type Props = CollectionEntry<'post'>;
const post = Astro.props;
const { title, description, pubDate, updatedDate} = post.data;
const { Content } = await render(post);
---

<!doctype html>
<html lang="zh-CN">
    <head>
        <BaseHead title={title}, description={description}/>
        <style>
            main {
                width: calc(100% - 2em);
                max-width: 100%;
                margin: 0;
            }
            .prose {
                width: 1080px;
                max-width: calc(100% - 2em);
                margin: auto;
                padding: 1em;
                color: rgb(var(--gray-dark));
            }
            .title {
                margin-bottom: 1em;
                padding: 1em 0;
                line-height: 1;
            }
            .title h1 {
                margin: 0 0 0.5em 0; /* top | right | bottom | left */
            }
            .date {
                margin-bottom: 0.5em;
                color: rgb(var(--gray))
            }
        </style> 
    </head>
    <body>
        <Header/>
        <main>
            <article>
                <div class="prose">
                    <div class="title">
                        <h1>{title}</h1>
                        <div class="date">
                            <FormattedDate date={pubDate}/>
                            {
                                updatedDate && (
                                    <div class="last-updated-on">
                                        Last updated on <FormattedDate date={updatedDate}/>
                                    </div>
                                )
                            }
                        </div>
                        <hr/>
                    </div>
                    <Content/>
                </div>
            </article>
        </main>
        <Footer/>
    </body>
</html>
